.recommend-box{
	margin: 0.5rem auto;
	line-height: 1.6rem;
	.title{
		text-align: center;
		font-size: 26/40rem;
		color: #333333;
		span{
			height: 1.2rem;
			line-height: 1.2rem;
			display: inline-block;
			border-bottom: 1px solid #333333;
		}
	}
	.goods-grid{
		overflow: hidden;
		.goods{
			width: 40%;
			margin: 2% 5%;
			float: left;
			text-align: center;
			img{
				width: 80%;
			}
			.goods-title{
				color: #333333;
				font-size: 26/40rem;
				height: 1.6rem;
				line-height: 0.8rem;
				text-align: left;
			}
		}
	}
}