.order-list-container {
    margin-top: 15px;
    background-color: #fff;
    padding: 10px 10px 0 10px;

    h2 {
        font-size: 16px;
        color: #333;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 10px;
    }
}
/*wangw*/
.user-header-container{
	height: 100/40rem;
	width: 100%;
	line-height: 100/40rem;
	text-align: center;
	font-size: 34/40rem;
	color: #333333;
	position: fixed;
	top: 0;
	z-index: 2;
	.icon-setthing-container{
		float: left;
		margin: 0.8rem 0 0 0.5rem;
		width: 1.2rem;
		height:1.2rem;
		.icon-setthing{
			display: inline-block;
			width: 42/40rem;
			height: 38/40rem;
			background: url(../../../static/images/icon/login_password2.png) no-repeat 50%;
			background-size: 100%;
		}
	}
	.gray-line{
		height: 1px;
		background-color:#eeeeee;
	}
	.title{
		margin:0 2rem;
	}
}