.pagefooter{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 1.25rem;
	line-height: 1.25rem;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content:space-around;
	text-align: center;
	font-size: 0.2rem;
	color: #888888;
	border-top: 1px solid #f1f1f1;
}
.pagefooter img{
	width: 0.7rem;
	height: 0.7rem;
	margin-top: 0.125rem;
}
.pagefooter .tabContainer{
	line-height: 0.3rem
}
.pagefooter .tabContainer.active{
	color: #FFB0B7;
}