html{
    font-size: 20px;
}
html,body{
    height: 100%;
}
.app{
    background-color:#EEEEEE;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Tahoma","SimHei","黑体","Microsoft YaHei","微软雅黑",arial,Serif;
    }
}
section,div{
    background-color: #fff;
}
a {
    text-decoration: none;
}

img {
    border: 0;
}

input {
    outline:none;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-fix:after {
    display: table;
    content: '';
    clear: both;
}
