.home-list-title {
    font-size: 16px;
    color: #666;
    margin: 10px 15px;
}
.ad-swiper-container{
	width: 100%;
	position: relative;
	line-height: 0rem;
	img{
		width: 100%;
	}
	.carousel-item{
	width: 100%;
	}
}
.react-swipe-container {
	width: 100%;
}
.index-container {
    position: absolute;
    width: 100%;
    bottom: 0.6rem;
    background-color: transparent;
    ul {
        width: 100%;
        height: auto;
        text-align: center;
    }
    li {
        list-style: none;
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.4);
        margin: 0 3px;
    }
    li.selected {
        background-color: #FFB0B7;
    }
}
