.reward-page-container{
	margin-top: 100/40rem;
	.btn-box{
		color: #333333;
		font-size:28/40rem;
		display: flex;
		justify-content: space-around;
		background-color: #f1f1f1;
		>div{
			height: 85/40rem;
			line-height: 85/40rem;
			margin: 1px;
			width: 100%;
			text-align: center;
		}
		.left{

		}
		.right{

		}
	}
	.total-price-container{
		position: relative;
		text-align: center;
		font-size: 28/40rem;
		height: 86/40rem;
		line-height: 86/40rem;
		padding: 0 0.5rem;
		.tixian{
			position: absolute;
			right: 10px;
			font-size: 24/40rem;
		}
	}
}