.recommend-page{
	background-color: #eeeeee;
	.notice-icon{
		display: inline-block;
		width: 29/40rem;
		height: 28/40rem;
		vertical-align: middle;
		background:url(../../static/images/icon/ico_lipstick_notice.png) no-repeat 50%; 
		background-size: 100%;
		margin-left: 0.8rem;
	}
	.notice-content{
		font-size: 24/40rem;
		color: #6ABCFF;
		margin-left: 0.4rem;
		height: 68/40rem;
		line-height: 68/40rem;
	}
}
.recommend-banner{
	margin: 0.5rem 0.8rem;
	>div{
		width: 50%;
		display: inline-block;
	}
	.recommend-banner-left{
		padding:0.4rem 0.8rem;
		float: left;
		.goods-title{
			font-size: 28/40rem;
			color: #333333;
			margin: 0.5rem auto;
			span{
				display: inline-block;
				height: 1rem;
				line-height: 1rem;
				border-bottom: 1px solid #e6e6e6;
			}
		}
		.goods-brand{
			font-size: 28/40rem;
			color: #333333;
			margin: 0.5rem auto 1.5rem auto;
			span:last-child{
				color:#4C4C4C;
				font-size:22/40rem;
			}
		}
		.goods-info{
			font-size: 24/40rem;
			color: #999999;
			line-height: 0.7rem;
			margin-bottom: 1rem; 
		}
	}
	.recommend-banner-right{
		padding:0.4rem 0;
		position: relative;
		text-align: center;
		img{
			width: 80%;
		}
	}
}

.recommend-goods-grid{
	margin: 0.5rem auto;
}