.goods-header-container{
	height: 100/40rem;
	width: 100%;
	line-height: 100/40rem;
	text-align: center;
	font-size: 34/40rem;
	color: #333333;
	position: fixed;
	top: 0;
	z-index: 2;
	.back-icon-container{
		float: left;
		margin: 0.8rem 0 0 0.5rem;
		width: 1rem;
		height:1rem;
		.back-icon{
			display: inline-block;
			vertical-align: top;
			width: 18/40rem;
			height: 33/40rem;
			background: url(../../../static/images/icon/ico_back.png) no-repeat 50%;
			background-size: 100%;
		}
	}
	.share-icon-container{
		float: right;
		margin: 0.8rem 0.5rem 0 0;
		width: 1rem;
		height:1rem;
		.share-icon{
			display: inline-block;
			width: 36/40rem;
			height: 36/40rem;
			float: right;
			background: url(../../../static/images/icon/ico_share.png) no-repeat 50%;
			background-size: 100%;
		}
	}
	.gray-line{
		margin-top: 2.5rem;
		height: 1px;
		background-color:#eeeeee;
	}
}
.goods-swiper-container{
	text-align: center;
	margin-top: 100/40rem;
	width: 100%;
	position: relative;
	line-height: 0rem;
	img{
		width: 80%;
	}
	.carousel-item{
	width: 100%;
	}
}