.goods-page-container{
	background-color: #f0f0f0;
	.goods-info-container{
		padding: 0.5rem;
		font-size: 28/40rem;
		.left{
			margin-right: 5rem;
			color: #333333;
			.goods-name{

			}
			.goods-brief{
				font-size: 24/40rem;
				color: #FFB0B7;
			}
			.goods-price{
				font-size: 24/40px;
				.price-now{
					font-size: 28/40rem;
				}
				span{
					margin: 0 2px;
				}
				del{
					color: #999999;
					margin-left: 4px;
				}
			}
		}
		.right{
			text-align: right;
			float: right;
			width: 5rem;
			.time-container{
				color: #FF4949;
				span{
					display: inline-block;
					background-color: #FF4949;
					border-radius: 3px;
					color: #f0f0f0;
					padding: 1.8px;
					margin: 0 1px;
				}
			}
		}
	}
	.chengnuo{
		margin: 0.5rem 0;
		line-height: 0;
		img{
			width: 100%;
		}
	}
}